/* This file is for your main application css. */
.container {
  margin-top: 2.0rem; }

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.alert p {
  margin-bottom: 0; }

.alert:empty {
  display: none; }

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem; }

.forum-title, .thread-title,
.thread-author, .thread-replies,
.thread-reply, .comment-title {
  font-weight: bold; }

.pagination li.active {
  background-color: grey; }

