<div class="row">
  <div class="col s12">
    <%= for comment <- @comments do %>
      <h5 class="comment-title"><%= comment.author %>:</h5>
            <td><%= comment.text %></td>
    <% end %>
  </div>
</div>
