<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= text_input f, :title, placeholder: 'Title:', required: true %>
  <%= error_tag f, :title %>

  <%= textarea f, :description, placeholder: 'Here is a some text input', required: true %>
  <%= error_tag f, :description %>

  <div>
      <%= text_input f, :author, placeholder: 'Your name', required: true %>
      <%= error_tag f, :author %>

      <a class="waves-effect waves-light btn grey" href="/threads/"> Back </a>
      <button class="btn waves-effect waves-light grey" type="submit" name="action">Create</button>
  </div>
<% end %>
