<div class="row">
  <div class="col s9">
    <h3 class="forum-title">Forum</h3>
  </div>
  <div class="col s3 right-align">
    <a class="waves-effect waves-light btn grey" href="/threads/new"> New thread </a>
  </div>
</div>
<table class="highlight">
  <tbody>
    <%= for thread <- @threads do %>
      <tr>
        <td>
          <h5 class="thread-title"><%= thread.title %></h5>
        </td>
        <td class="right-align">
          <span><%= link "details", to: Routes.thread_path(@conn, :show, thread) %></span>
        </td>
        <td class="right-align">
          <%= Enum.count(thread.comments) %> replies
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @conn, @kerosene %>
