<div class="row valign-wrapper">
  <div class="col s4">
    <h3 class="thread-title"><%= @thread.title %></h3>
  </div>
  <div class="col s8">
    -
    <span class="thread-author"> <%= @thread.author %> </span>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <span class="grey-text"> <%= @thread.description %> </span>
  </div>
</div>

<hr class="solid">

<h4 class="thread-replies">Replies</h4>
<%= render "comment_index.html", comments: @thread.comments %>

<h4 class="thread-reply">Reply:</h4>
<%= render "comment_form.html", thread: @thread, changeset: @changeset, action: Routes.thread_thread_path(@conn, :add_comment, @thread) %>
